* {
  font-family: "Montserrat", sans-serif;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}

// example to external fonts
@font-face {
  font-family: 'Trajan Pro Regular';
  src: local('TrajanProRegular'),
    url('/styles/fonts/TrajanPro-Regular.ttf') format('woff');
  font-weight: normal;
}

.trajan {
  font-family: 'Trajan Pro Regular';
}

.barlow {
  font-family: "Barlow", sans-serif;
}

